# Virtual environment
venv/

# Python-related files
*.pyc
*.pyo
__pycache__/

# Django-related files
db.sqlite3
/media/
*.log

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db